//@import "../scss/_base/font-awesome/font-awesome.scss";

@import "../scss/_base/_bootstrap.scss";

@import "../scss/_helper/_helper.scss";


@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Thin Italic", 100, italic);
@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Thin", 100, inherit);

@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Light Italic", 300, italic);
@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Light", 300, inherit);

@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Regular Italic", 400, italic);
@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Regular", 400, inherit);

@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Semibold Italic", 600, italic);
@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Semibold", 600, inherit);

@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Extrabold Italic", 800, italic);
@include font-face("ProximaNova", "/src/fonts/proxima-nova/Proxima Nova Extrabold", 800, inherit);


body {
  background: #f6f6f6;
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
}

.column {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  @include transition(all 300ms ease-in-out);
  .row {
    @include transition(all 300ms ease-in-out);
    [class*='col-'] {
      @include transition(all 300ms ease-in-out);
    }
  }
}

.btn {
  padding: 0;
  display: block;
  border-radius: 0;
}


//MODULES
@import "../scss/_modules/search-result.scss";

