@import "../scss/_base/font-awesome/font-awesome.scss";

@import "../scss/_base/bootstrap.scss";

@import "../scss/_base/slick.scss";
@import "../scss/_base/slick-theme.scss";

@import "../scss/_modules/nav.scss";


@import "../scss/_helper/_helper.scss";


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,900,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);

body {
  font-size: 16px;
}

.cap {
  font-family: 'Raleway', sans-serif;
}

.txt {
  font-family: 'Lato', sans-serif;
}


